.list-title {
    font-size: 24px; /* Taille de police */
    font-weight: bold; /* Texte en gras */
    color: #2a9b70; /* Couleur bleue */
  }

  .btn{
    background-color: #2c5044;
    color: #ffffff; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Police de caractère */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }
  
  .srv-create {
    width: 100%; /* Utilise toute la largeur de la page */
    padding: 20px; /* Espacement intérieur pour une apparence aérée */
    box-sizing: border-box; /* Inclut les bordures et les marges dans la largeur totale */
  }

 input {
    width:  80%;
    padding:  12px;
    margin-bottom:  16px;
    border:  1px solid #ddd;
  }