.header {  
    height: 64px; /* Hauteur de l'en-tête */ 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour l'en-tête */
    background-color: #AFE3C0; /* Couleur de fond */
    color: #000000; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */ 
    padding: 20px; /* Espacement intérieur */
    font-size: 16px; /* Taille de la police */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Police de caractère */
    /* border-top: 3px solid #e67e22; Bordure supérieure */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }
  
  .logo {
    font-size: 24px; /* Taille de la police pour le logo */
    font-weight: bold; /* Police en gras pour le logo */
  }
  .logo-sary {
    width: 60px; /* Largeur souhaitée */
    height: auto; /* Hauteur automatique pour maintenir les proportions */
  }
  
  .spacer {
    flex: 1; /* Espace flexible pour pousser les éléments à droite */
  }
 