.footer {
    background-color: #AFE3C0; /* Couleur de fond */
    color: #000000; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 20px; /* Espacement intérieur */
    font-size: 12px; /* Taille de la police */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Police de caractère */
    /* border-top: 3px solid #e67e22; Bordure supérieure */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }
  
  .footer p {
    /* display: block; Afficher le texte sur une nouvelle ligne */
    text-align: center;
  }
  
  .footer a {
    color: #000000; /* Couleur des liens */
    text-decoration: none; /* Supprimer la soulignement des liens */
    transition: color 0.3s ease; /* Transition fluide de la couleur au survol */
  }
  
  .footer a:hover {
    color: #1abc9c; /* Couleur des liens au survol */
  }
  