.sidenav-container {
    background-color: #FFF; /* Couleur de fond pour le conteneur */
}

.sidenav {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre légère pour la navbar */
}

.navbar {
    margin-top: 64px;
    height: calc(100vh - 128px);
    padding: 16px; /* Espacement intérieur pour la navbar */
    /* background-color: #AFE3C0;  Couleur de fond pour la navbar */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    align-items: flex-start !important;
    width: 258px;
}

.mat-nav-list,
.mat-expansion-panel {
    background-color: transparent; /* Fond transparent pour les listes et panneaux d'expansion dans la navbar */
    padding: 0px; /* Supprimer le rembourrage par défaut */
    max-width: 218px;
    margin-bottom: 8px;
    white-space: nowrap;
}

.mat-list-item {
    display: flex !important;
    align-items: center !important;
    gap: 10px !important;
    font-size: 16px !important;
    color: #757575 !important; /* Couleur du texte des éléments de liste dans la navbar */
    padding: 12px 24px !important; /* Ajouter un peu d'espace autour des éléments de liste */
    font-weight: bold !important; /* Mettre en gras les éléments de liste */
    transition: background-color 0.3s !important; /* Animation de transition */
    border: 1.5px solid #f6f6f6 !important;
    border-radius: 8px !important;
    margin-bottom: 5px !important;
    width: 100%;
}
.nav-item{
    /* display: flex !important;
    align-items: center !important;
    flex-direction: column;
    gap: 10px !important;
    font-size: 16px !important;
    color: #757575 !important;
    padding: 12px 24px !important;
    font-weight: bold !important;
    transition: background-color 0.3s !important;
    border: 1.5px solid #f6f6f6 !important;
    border-radius: 8px !important;
    width: 100%;
    text-decoration: none; */
}

.mat-list-item:hover {
    background-color: #E0E0E0; /* Couleur de fond au survol */
}

.mat-expansion-panel-header {
    background-color: #F5F5F5; /* Couleur de fond pour les en-têtes de panneaux d'expansion dans la navbar */
}

.mat-panel-title {
    color: #000; /* Couleur du texte des titres de panneaux d'expansion dans la navbar */
    font-weight: bold; /* Mettre en gras les titres */
    text-transform: uppercase; /* Mettre en majuscules */
}

/* Ajoutez d'autres styles spécifiques à votre navbar ici */
.main-content {
    margin-top: 64px;
    height: calc(100vh - 128px); /* Hauteur du contenu principal (taille de la fenêtre moins la hauteur du header) */
    overflow-y: auto; /* Ajoute une barre de défilement verticale si le contenu dépasse la hauteur de la fenêtre */
}
.inactive{
    display: none !important;
}

@media (max-width: 767px) {
  .main-content{
    width: 100vw;
  }
    .navbar {
        /* width: 75vw; */
    }
}
@media (max-width: 400px) {
    .navbar {
        width: 100vw;
    }
}
