<div class="rdv-list">
  <h2 class="list-title">Historique de mes rendez-vous</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nom Service</th>
        <th>Délai</th>
        <th>Date et heure</th>
        <th>Client</th>
        <th>Payé</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let rdv of rendezVous">
        <tr *ngFor="let service of rdv.service; let first = first">
          <td ><a [routerLink]="['/ficheService', service.idService]">{{ service.nom }}</a></td>
          <td>{{ service.delai }} minutes</td>
          <td>{{ rdv.dateHeure | date:'short' }}</td>
          <td *ngIf="first" class="client-name">client mbola alaina</td>
          <td *ngIf="first">{{ rdv.etat }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
