<div class="rdv-list">
  <h2>Historique de mes rendez-vous</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Nom Service & Delai</th>
        <th>Date et heure</th>
        <th>Client</th>
        <th>Etat</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let rdv of rendezVous">
        <tr>
          <div *ngFor="let service of rdv.service">
              <td><a [routerLink]="['/ficheService',service.idService]">{{ service.nom }}</a></td>
              <td>{{ service.delai }} minutes </td>
          </div>
          <td>{{ rdv.dateHeure | date:'short' }}</td>
          <td>client mbola alaina</td>
          <td>{{ rdv.etat }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
