/* CSS */
.home {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh; /* Ajustez la hauteur selon vos besoins */
}

.rappel-card {
  max-width: 600px; /* Largeur maximale de la carte */
  width: 100%; /* Garantit que la carte s'adapte à la largeur maximale */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre */
  text-align: left; /* Alignement du texte à gauche */
  margin-bottom: 20px; /* Marge en bas pour l'espacement entre les cartes */
}

.avatar {
  width: 50px; /* Largeur de l'avatar */
  height: 50px; /* Hauteur de l'avatar */
  border-radius: 50%; /* Bord arrondi */
  background-color: #e0e0e0; /* Couleur de fond */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; /* Marge à droite pour l'espacement */
}

mat-icon {
  font-size: 24px; /* Taille de l'icône */
}

mat-card-title {
  font-size: 20px; /* Taille du titre */
  margin-bottom: 10px; /* Marge en bas pour l'espacement */
}

mat-card-subtitle {
  font-size: 16px; /* Taille du sous-titre */
  color: #666; /* Couleur du texte */
}

/* Optionnel : ajoutez des médias pour rendre la mise en page réactive */
@media (max-width: 768px) {
  .rappel-card {
    padding: 15px; /* Réduire le rembourrage pour les écrans plus petits */
  }
}
/* CSS */
.rappel-title {
  color: #2a9b70; /* Couleur du titre */
  text-align: center; /* Alignement centré */
  margin-bottom: 20px; /* Marge en bas pour l'espacement */
  font-size: 24px; /* Taille de la police du titre */
}

