<div class="big-container">
  <div class="login-container">
    <img src="../../assets/beaute-verte.png" class="logo-sary" alt="" srcset="">
    <h2>Login</h2>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
    <form (ngSubmit)="login()">
      <div>
        <label for="username">Nom:</label>
        <input required text="text" id="username" name="username" [(ngModel)]="username" />
      </div>
      <div>
        <label for="password">Mot de Passe:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <button type="submit" [disabled]="isFetching" >
        <span *ngIf="!isFetching" >Log in</span>
        <mat-spinner  style="margin-left: 45%;" color="accent" *ngIf="isFetching" diameter="15" ></mat-spinner>
      </button>
      <p></p>
      <span>Pas encore de compte? </span><a [routerLink]="['/inscription']">Inscrivez-vous</a>
    </form>
  </div>
</div>
  