.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:  fit-content;
    gap:  1em;
    border-radius: 16px;
  }
  .big-container{
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: #dce1dd;
    align-items: center;
    justify-content: center;
  }
  .logo-sary {
    width: 64px;
    /* Largeur souhaitée */
    height: auto;
    /* Hauteur automatique pour maintenir les proportions */
}