.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:  100vh;
    gap:  1em;
  }
  .error-message {
    background-color: red; /* Un ton de rouge foncé */
    color: white;
    padding:  10px;

    border-radius:  4px; /* Coins arrondis pour une apparence plus douce */
    box-shadow:  1px  1px  3px rgba(0,  0,  0,  0.2); /* Ombre légère pour un effet  3D */
    margin-top:  10px; /* Espacement entre le champ de formulaire et le message d'erreur */
    display: inline-block; /* Permet d'ajuster la largeur du bloc selon son contenu */
    text-align: center; /* Centre le texte horizontalement dans le bloc */
    transition: opacity  0.3s ease; /* Transition fluide pour les changements d'état */
  }
  