.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: gray;
    width: 100%;
    min-height: 200px;
    max-height: 200px;
    overflow-y: auto;
}

.container .item{
    background-color:rgb(21, 4, 37);
    color: white;
    justify-content: center;
    align-items: center;
    cursor: move;
    padding: 1em;
    transition: transform 0.2s ease-in-out;
}

.list-title {
    font-size: 24px; /* Taille de police */
    font-weight: bold; /* Texte en gras */
    color: #3498db; /* Couleur bleue */
  }

  .btn{
    background-color: #2c3e50;
    color: #ffffff; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    padding: 20px; /* Espacement intérieur */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Police de caractère */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
  }