<div class="rdv-list">
  <h2 class="list-title">Mes rendez-vous aujourd'hui</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Date et heure</th>
        <th>Client</th>
        <th>Service</th>
        <th>État</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let rdv of rendezVous">
        <tr>
          <td>{{ rdv.dateHeure | date:'short' }}</td>
          <td>client mbola alaina</td>
          <td>
            <div *ngFor="let service of rdv.service" class="service-details">
              <p><a [routerLink]="['/ficheService', service.idService]">{{ service.nom }}</a></p>
              <p>{{ service.delai }} minutes</p>
            </div>
          </td>
          <td>{{ rdv.service[0].etat }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
