.srv-delete {
    width: 100%; /* Utilise toute la largeur de la page */
    padding: 20px; /* Espacement intérieur pour une apparence aérée */
    box-sizing: border-box; /* Inclut les bordures et les marges dans la largeur totale */
}

.text{
    display: flex;
    justify-content: center;
    color: gray;
}

.btnNon{
    background-color: #7a8f88;
    color: #ffffff; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Police de caractère */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    width: 50%;
}

.btnOui{
    background-color: indianred;
    color: #ffffff; /* Couleur du texte */
    text-align: center; /* Alignement du texte au centre */
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* Police de caractère */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Ombre douce */
    width: 50%;
}