<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <title>Document</title>
</head>
<body>
  <div *ngIf="isInscription()" >
    <app-inscription></app-inscription>
  </div>
  <div *ngIf="!isLoggedIn() && !isInscription()" >
    <app-login></app-login>
  </div>
  <div *ngIf="isLoggedIn() && !isInscription()">
    <app-header></app-header>
    <app-navbar></app-navbar>
    <app-footer></app-footer>
  </div>
</body>
</html>