.rappel-card {
  max-width: 600px; /* Largeur maximale de la carte */
  width: 100%; /* Garantit que la carte s'adapte à la largeur maximale */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
  text-align: left; 
  margin-bottom: 20px; 
  height: 100%;
}
.rappel-container{
  margin-right: 16px;
}
.rappel-card-title{
    font-size: 24px !important;
    font-weight:500 !important;
}
.rappel-card-title:first-child{
  text-align: start;
}
.avatar {
  color: #fff;
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  background-color: #003566; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px; 
}

mat-icon {
  font-size: 24px; 
}

mat-card-title {
  font-size: 20px; 
  margin-bottom: 10px; 
}

mat-card-subtitle {
  font-size: 16px; 
  color: #666; 
}

@media (max-width: 768px) {
  .rappel-card {
    padding: 15px; 
  }
}

.rappel-title {
  color: #2a9b70;
  text-align: center;
  margin-bottom: 20px; 
  font-size: 24px; 
}



.avatar2{
    background-color: #ffc300 !important;
}
.offer-name{
  font-size: 16px !important;
  font-size: 800 !important;
  text-align: center;
}
.libelle{
  padding: 4px 8px;
  background-color: #dce1dd;
  margin-right: 8px;
  border-radius: 8px;
  color: #333;
}
.libelle-fiche{
  font-size: 12px;
  font-weight: 600;
}
.dtls-header{
  background-color: #dce1dd !important;
  color: #333 !important;
}

.custom-box{
  padding: 20px;
  border-radius: 16px;
    background-color: #ffffff;
    border: 2px solid #2a9b70;
    box-shadow: 0 0 4px 6px rgba(117, 117, 117, 0.25);
    margin-bottom: 24px;
}
.hero-title{
  font-size: 40px;
  font-weight: 100;
}

.error-message{
  width: 100%;
}

