<section class="hero-wrap js-fullheight" style="background-image: url('images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
        <div class="col-md-10 ftco-animate text-center">
            <div class="icon">
                <span class="flaticon-lotus"></span>
            </div>
          <h1>MadaManja</h1>
          <div class="row justify-content-center">
              <div class="col-md-7 mb-3">
                  <p>Institut de beauté en ligne, plus proche de vous, plus proche de votre bien-etre</p>
              </div>
            </div>
          <p>
              <a href="/rdv" class="btn btn-primary p-3 px-5 py-4 mr-md-2">Prendre rendez-vous</a>
              <a href="/profile" class="btn btn-outline-primary p-3 px-5 py-4 ml-md-2">Voir mon profil</a>
          </p>
        </div>
      </div>
    </div>
  </section>