<div class="lapage">
    <h2 class="list-title">Organisation des taches</h2>
    <div *ngIf="errorMessage !== ''" class="error-message">
        {{ errorMessage }}
    </div>
    <div class="zones-container">
        <!-- Zone "A faire" -->
        <div class="zone">
            <h3 class="zone-title">A faire</h3>
            <div *ngIf="errorMessage !== ''" class="error-message">
                {{ errorMessage }}
            </div>
            <mat-grid-list cols="1" >
                <mat-grid-tile>
                    <div class="container" cdkDropList id="afaire" [cdkDropListConnectedTo]="['encours']"
                        [cdkDropListData]="afaire" (cdkDropListDropped)="drop($event)" >
                        <div class="item" *ngFor="let item of afaire" cdkDrag>{{item.nom}} - {{item.delai}}min</div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <!-- Zone "En cours" -->
        <div class="zone">
            <h3 class="zone-title">En cours</h3>
            <mat-grid-list cols="1" >
                <mat-grid-tile >
                    <div class="container" cdkDropList id="encours" [cdkDropListConnectedTo]="['afaire','fini']"
                        [cdkDropListData]="encours" (cdkDropListDropped)="drop($event)">
                        <div class="centered-content" *ngIf="encours.length === 0">
                            <mat-icon>add_box</mat-icon>
                            <p>Glissez les taches ici</p>
                        </div>
                        <div class="item" *ngFor="let item of encours" cdkDrag>{{item.nom}} - {{item.delai}}min</div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>

        <!-- Zone "Fini" -->
        <div class="zone">
            <h3 class="zone-title">Fini</h3>
            <mat-grid-list cols="1" >
                <mat-grid-tile>
                    <div class="container" cdkDropList id="fini" [cdkDropListConnectedTo]="['afaire']"
                        [cdkDropListData]="fini" (cdkDropListDropped)="drop($event)">
                        <div class="centered-content" *ngIf="fini.length === 0">
                            <mat-icon>add_box</mat-icon>
                            <p>Glissez les taches ici</p>
                        </div>
                        <div class="item" *ngFor="let item of fini" cdkDrag>{{item.nom}} - {{item.delai}}min</div>
                    </div>

                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </div>

    <div class="commission-container">
        <br><br>
        <button class="btn" mat-button (click)="saveChangement(encours,fini)" >Enregistrer</button>
        <br><br>
        <h2>Commissions de la journée</h2>
        <div class="total-commission">
          <h3>Total de la journée : <strong>{{ total }} Ar</strong></h3>
        </div>
        <div class="commission-list">
          <div class="commission-item" *ngFor="let item of fini">
            <div class="commission-info">
              <h4>{{ item.nom }}</h4>
              <p>Commission : {{ item.prix * item.commission / 100 }} Ar</p>
            </div>
          </div>
        </div>
      </div>

</div>
