/* Appliquer la police par défaut */
.lapage {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Styling du titre */
.list-title {
  color: #2a9b70;
  font-size: 24px; /* Taille du titre */
  margin-bottom: 20px; /* Espacement en bas du titre */
}

/* Styling des zones */
.zone {
  flex: 1; /* Chaque zone prendra la même largeur */

  border-radius: 5px; /* Bord arrondi */
  padding: 15px; /* Espacement interne */
  margin-bottom: 20px; /* Espacement en bas entre les zones */
  /* overflow-y: auto;  */
}
.zones-container {
  max-height: 30vh;
  display: flex; /* Utiliser flexbox */
  justify-content: space-between; /* Espacement égal entre les zones */
}

.zone {

  flex: 1; /* Chaque zone prendra la même largeur */
  height: 300px;
}
.zone-title {
  font-size: 20px; /* Taille du titre de la zone */
  margin-bottom: 10px; /* Espacement en bas du titre de la zone */
}

/* Styling des éléments de tâches */
.container {
  min-height: 160px; /* Hauteur minimale de la zone de dépôt */
  border: 2px dashed #ccc; /* Bordure pointillée */
  border-radius: 5px; /* Bord arrondi */
  padding: 10px;
}

.item {
  background-color: #fff; /* Couleur de fond de l'élément */
  border: 1px solid #ccc; /* Bordure solide */
  border-radius: 3px; /* Bord arrondi */
  padding: 5px 10px; /* Espacement interne */
  margin-bottom: 5px; /* Espacement en bas entre les éléments */
  cursor: pointer; /* Curseur pointeur */
  transition: background-color 0.3s ease; /* Transition fluide */
}

.item:hover {
  background-color: #f0f0f0; /* Changement de couleur au survol */
}

.centered-content {
  display: flex; /* Utiliser flexbox */
  flex-direction: column; /* Aligner le contenu verticalement */
  align-items: center; /* Aligner horizontalement au centre */
  justify-content: center; /* Aligner verticalement au centre */
  height: 100%; /* Hauteur 100% */
  color: #888; /* Couleur de texte */
}

.error-message {
  color: #ff0000; /* Couleur du message d'erreur */
  margin-bottom: 10px; /* Espacement en bas du message d'erreur */
}

/* Styling du bouton Enregistrer */
.btn {
  background-color: #2a9b70; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 3px; /* Bord arrondi */
  padding: 10px 20px; /* Espacement interne */
  font-size: 16px; /* Taille de police */
  cursor: pointer; /* Curseur pointeur */
  transition: background-color 0.3s ease; /* Transition fluide */
}

/* Styling du bouton au survol */
.btn:hover {
  background-color: #207653; /* Changement de couleur au survol */
}
.mat-grid-tile {
  overflow-y: auto; /* Permettre le défilement vertical si nécessaire */
  /* max-height: 200px; Limiter la hauteur maximale des cellules */
  margin:auto;
}
.mat-grid-list {
  margin: auto; /* Centrez le mat-grid-list sur la page */
}

/*--------------------------*/
.commission-container {
  margin: 20px;
}

.commission-container h2 {
  font-size: 24px;
  color: #2a9b70;
  margin-bottom: 10px;
}

.total-commission h3 {
  font-size: 18px;
}

.commission-list {
  display: flex;
  flex-wrap: wrap;
}

.commission-item {
  width: calc(33.33% - 20px);
  margin: 0 10px 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 5px;
}

.commission-item h4 {
  font-size: 18px;
  margin-bottom: 5px;
}

.commission-item p {
  font-size: 16px;
  color: #666;
}
.mat-grid-tile{
  padding-top: calc(50% + 0px) !important;
}
